.logo-gallery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
}
.logo-gallery figure {
  flex: 1 0 auto;
  max-width: 200px;
  margin-right: 2rem;
}
.logo-gallery figure img {
  width: 100%;
  height: auto;
}
.logo-gallery a img {
  opacity: 0.5;
  filter: grayscale(1);
  transition: filter 0.25s, opacity 0.25s;
}

.logo-gallery a:hover img,
.logo-gallery a:focus img {
  opacity: 1;
  filter: grayscale(0);
}
